<div style="margin-top: 70px;">
  <app-error-message *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error-message>

  <table class="table table-striped border">
    <thead>
      <tr>
        <th>#</th>
        <th>id</th>
        <th>Name</th>
        <th>Total Loan</th>
        <th>Interest</th>
        <th>years</th>
        <th>Monthly Payment</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers let index = index">
        <td>{{ index + 1 }}</td>
        <td>{{ customer.id }}</td>
        <td> {{ customer.name }}</td>
        <td> {{ customer.totalLoan }} €</td>
        <td> {{ customer.interest }}</td>
        <td> {{ customer.years }}</td>
        <td> {{ customer.fixedMonthlyPayment | number:'1.0-2'}} €</td>
      </tr>
    </tbody>
  </table>

</div>